<a href="https://colab.research.google.com/github/Harish-aditya/Inventory_forecasting/blob/master/inventoryforecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

Reading the data:

In [ ]:
df = pd.read_csv("train 2.csv")
df

              date  store  item  sales
0       2013-01-01      1     1     13
1       2013-01-02      1     1     11
2       2013-01-03      1     1     14
3       2013-01-04      1     1     13
4       2013-01-05      1     1     10
...            ...    ...   ...    ...
912995  2017-12-27     10    50     63
912996  2017-12-28     10    50     59
912997  2017-12-29     10    50     74
912998  2017-12-30     10    50     62
912999  2017-12-31     10    50     82

[913000 rows x 4 columns]

Exploratory Data Analysis(EDA)

In [ ]:
df.nunique()

date     1827
store      10
item       10
sales     178
dtype: int64

findings: 
We can see that the data is clean of outliers and duplicates. Since, there will be 
1. 1826 days in 5 years period 
2. As per the data we have 10 unique stores and 50 unique products. 
3. We can not tell whether all the values in sales are right/wrong.

In [ ]:
df.dtypes

date      object
store    float64
item     float64
sales    float64
dtype: object

Finding: We can see that all the columns are in 'int64' datatype other than date which is in 'object' datatype.

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df.dtypes

date     datetime64[ns]
store             int64
item              int64
sales             int64
dtype: object

Changed date column to 'datetime' format for better interpretation.

In [ ]:
print(df)

             date  store  item  sales
0      2013-01-01      1     1     13
1      2013-01-02      1     1     11
2      2013-01-03      1     1     14
3      2013-01-04      1     1     13
4      2013-01-05      1     1     10
...           ...    ...   ...    ...
912995 2017-12-27     10    50     63
912996 2017-12-28     10    50     59
912997 2017-12-29     10    50     74
912998 2017-12-30     10    50     62
912999 2017-12-31     10    50     82

[913000 rows x 4 columns]

In [ ]:
df2 = df.groupby(['date','item'], as_index = False).sales.sum()
df2

            date  item  sales
0     2013-01-01     1    133
1     2013-01-01     2    327
2     2013-01-01     3    172
3     2013-01-01     4    102
4     2013-01-01     5     83
...          ...   ...    ...
91295 2017-12-31    46    605
91296 2017-12-31    47    211
91297 2017-12-31    48    494
91298 2017-12-31    49    285
91299 2017-12-31    50    626

[91300 rows x 3 columns]

In [ ]:

df3 = df2.groupby(['item','date'],as_index = False).sales.sum()

In [ ]:
df3['demand'] = df2.sales.rolling(window = 90).sum()

In [ ]:
df3.iloc[89:]

       item       date  sales   demand
89        1 2013-03-31    203  24956.0
90        1 2013-04-01    134  24955.0
91        1 2013-04-02    187  24843.0
92        1 2013-04-03    210  24926.0
93        1 2013-04-04    229  24989.0
...     ...        ...    ...      ...
91295    50 2017-12-27    511  47760.0
91296    50 2017-12-28    587  47362.0
91297    50 2017-12-29    596  47072.0
91298    50 2017-12-30    612  46865.0
91299    50 2017-12-31    626  46793.0

[91211 rows x 4 columns]

In [ ]:
df2.isnull().value_counts()

date   item   sales
False  False  False    91300
dtype: int64

In [ ]:
df3

       item       date  sales   demand
0         1 2013-01-01    133      NaN
1         1 2013-01-02     99      NaN
2         1 2013-01-03    127      NaN
3         1 2013-01-04    145      NaN
4         1 2013-01-05    149      NaN
...     ...        ...    ...      ...
91295    50 2017-12-27    511  47760.0
91296    50 2017-12-28    587  47362.0
91297    50 2017-12-29    596  47072.0
91298    50 2017-12-30    612  46865.0
91299    50 2017-12-31    626  46793.0

[91300 rows x 4 columns]

In [ ]:
df3.isnull().value_counts()

item   date   sales  demand
False  False  False  False     91211
                     True         89
dtype: int64

In [ ]:
demand = df3['demand']
type(demand)

pandas.core.series.Series

In [ ]:
demand.describe()

count    91211.000000
mean     47036.463617
std      10757.355246
min      22280.000000
25%      38771.000000
50%      46954.000000
75%      54789.000000
max      81082.000000
Name: demand, dtype: float64

In [ ]:
demand

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
91295    47760.0
91296    47362.0
91297    47072.0
91298    46865.0
91299    46793.0
Name: demand, Length: 91300, dtype: float64

In [ ]:
demand = demand.dropna()
# demand.drop(axis=1,columns=['level_0','index'],inplace = True)

In [ ]:
demand

89       24956.0
90       24955.0
91       24843.0
92       24926.0
93       24989.0
          ...
91295    47760.0
91296    47362.0
91297    47072.0
91298    46865.0
91299    46793.0
Name: demand, Length: 91211, dtype: float64

In [ ]:
demand.reset_index(drop=True)

0        24956.0
1        24955.0
2        24843.0
3        24926.0
4        24989.0
          ...
91206    47760.0
91207    47362.0
91208    47072.0
91209    46865.0
91210    46793.0
Name: demand, Length: 91211, dtype: float64

In [ ]:
demand1 = pd.DataFrame(demand)

In [ ]:
demand1.reset_index(inplace = True)

In [ ]:
demand1.drop(axis = 1, columns = ['index'],inplace = True)

In [ ]:
demand1

        demand
0      24956.0
1      24955.0
2      24843.0
3      24926.0
4      24989.0
...        ...
91206  47760.0
91207  47362.0
91208  47072.0
91209  46865.0
91210  46793.0

[91211 rows x 1 columns]

In [ ]:
df3

       item       date  sales   demand
0         1 2013-01-01    133      NaN
1         1 2013-01-02     99      NaN
2         1 2013-01-03    127      NaN
3         1 2013-01-04    145      NaN
4         1 2013-01-05    149      NaN
...     ...        ...    ...      ...
91295    50 2017-12-27    511  47760.0
91296    50 2017-12-28    587  47362.0
91297    50 2017-12-29    596  47072.0
91298    50 2017-12-30    612  46865.0
91299    50 2017-12-31    626  46793.0

[91300 rows x 4 columns]

In [ ]:
df3.drop(axis = 1, columns = ['demand'], inplace = True)

In [ ]:
df3

       item       date  sales
0         1 2013-01-01    133
1         1 2013-01-02     99
2         1 2013-01-03    127
3         1 2013-01-04    145
4         1 2013-01-05    149
...     ...        ...    ...
91295    50 2017-12-27    511
91296    50 2017-12-28    587
91297    50 2017-12-29    596
91298    50 2017-12-30    612
91299    50 2017-12-31    626

[91300 rows x 3 columns]

In [ ]:
df3['demand'] = demand1

In [ ]:
df3

       item       date  sales   demand
0         1 2013-01-01    133  24956.0
1         1 2013-01-02     99  24955.0
2         1 2013-01-03    127  24843.0
3         1 2013-01-04    145  24926.0
4         1 2013-01-05    149  24989.0
...     ...        ...    ...      ...
91295    50 2017-12-27    511      NaN
91296    50 2017-12-28    587      NaN
91297    50 2017-12-29    596      NaN
91298    50 2017-12-30    612      NaN
91299    50 2017-12-31    626      NaN

[91300 rows x 4 columns]

In [ ]:
df_final = df3

In [ ]:
df_final.describe()

               item         sales        demand
count  91300.000000  91300.000000  91211.000000
mean      25.500000    522.502870  47036.463617
std       14.430949    255.234706  10757.355246
min        1.000000     71.000000  22280.000000
25%       13.000000    310.000000  38771.000000
50%       25.500000    489.000000  46954.000000
75%       38.000000    695.000000  54789.000000
max       50.000000   1573.000000  81082.000000

In [ ]:
df_final.head()

   item       date  sales   demand
0     1 2013-01-01    133  24956.0
1     1 2013-01-02     99  24955.0
2     1 2013-01-03    127  24843.0
3     1 2013-01-04    145  24926.0
4     1 2013-01-05    149  24989.0

In [ ]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91300 entries, 0 to 91299
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   item    91300 non-null  int64
 1   date    91300 non-null  datetime64[ns]
 2   sales   91300 non-null  int64
 3   demand  91211 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 2.8 MB

In [ ]:
#df_final['date']=np.datetime_as_string(df_final['date'], unit='D')

In [ ]:
df_final['year'] = pd.DatetimeIndex(df_final['date']).year
df_final['month'] = pd.DatetimeIndex(df_final['date']).month

In [ ]:
df_final=df_final.drop('date',axis=1)

In [ ]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91300 entries, 0 to 91299
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   item    91300 non-null  int64
 1   sales   91300 non-null  int64
 2   demand  91211 non-null  float64
 3   year    91300 non-null  int64
 4   month   91300 non-null  int64
dtypes: float64(1), int64(4)
memory usage: 3.5 MB

In [ ]:
import statsmodels.formula.api as SM

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
f_1 = 'demand~ item+sales+year+month'

In [ ]:
model_1 = SM.ols(f_1,data=df_final).fit()
model_1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 demand   R-squared:                       0.227
Model:                            OLS   Adj. R-squared:                  0.227
Method:                 Least Squares   F-statistic:                     6690.
Date:                Thu, 14 Jul 2022   Prob (F-statistic):               0.00
Time:                        10:25:27   Log-Likelihood:            -9.6443e+05
No. Observations:               91211   AIC:                         1.929e+06
Df Residuals:                   91206   BIC:                         1.929e+06
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -1.626e+05   4.56e+04     -3.563      0.000   -2.52e+05   -7.31e+04
item         354.5802      2.177    162.873      0.000     350.313     358.847
sales          2.8989      0.126     22.958      0.000       2.651       3.146
year          98.8399     22.650      4.364      0.000      54.447     143.233
month        -18.7140      9.132     -2.049      0.040     -36.613      -0.815
==============================================================================
Omnibus:                     3360.559   Durbin-Watson:                   0.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1488.514
Skew:                           0.007   Prob(JB):                         0.00
Kurtosis:                       2.374   Cond. No.                     3.03e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.03e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
def vif_cal(input_data):
    x_vars=input_data
    xvar_names=input_data.columns
    for i in range(0,xvar_names.shape[0]):
        y=x_vars[xvar_names[i]] 
        x=x_vars[xvar_names.drop(xvar_names[i])]
        rsq=SM.ols(formula="y~x", data=x_vars).fit().rsquared  
        vif=round(1/(1-rsq),2)
        print (xvar_names[i], " VIF = " , vif)

In [ ]:
vif_cal(input_data=df_final[['item','sales','year','month']])

item  VIF =  1.0
sales  VIF =  1.06
year  VIF =  1.04
month  VIF =  1.01

In [ ]:
# Are there any duplicates ?
dups = df_final.duplicated()
print('Number of duplicate rows = %d' % (dups.sum()))

Number of duplicate rows = 6

In [ ]:
df_final.drop_duplicates(inplace=True)

In [ ]:
Q1 = df_final.quantile(0.25)
Q3 = df_final.quantile(0.75)
IQR = Q3 - Q1
pd.DataFrame((((df_final < (Q1 - 1.5 * IQR)) | (df_final > (Q3 + 1.5 * IQR))).sum()/df_final.shape[0]*100).round(2),columns=['Outliers %'])

        Outliers %
item          0.00
sales         0.37
demand        0.07
year          0.00
month         0.00

In [ ]:
X = df_final.drop("demand", axis=1)

y = df_final.pop("demand")

X.head()

   item  sales  year  month
0     1    133  2013      1
1     1     99  2013      1
2     1    127  2013      1
3     1    145  2013      1
4     1    149  2013      1

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.30, random_state=1)

In [ ]:
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score,roc_curve,classification_report,accuracy_score,confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.naive_bayes import GaussianNB
from warnings import filterwarnings
filterwarnings("ignore")

In [ ]:
sc=StandardScaler()

In [ ]:
X_train_sc= pd.DataFrame(sc.fit_transform(X_train),columns=X_train.columns)
X_test_sc = pd.DataFrame(sc.transform(X_test),columns=X_test.columns)

In [ ]:
knn=KNeighborsRegressor()
knn.fit(X_train,y_train)

ValueError: ignored

In [ ]:
X_train.fillna(X_train.mean())